{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Détails Marque
{% endblock %}

    {% block body %}

        <div class="container-fluid " id="section-start">
        <h1>{{ brand.getName() }}</h1>
        <div class="container">
            <div class="card">

                <img class="card-img" src="{{ asset('bundles/app/img/'~brand.getLifestyle()) }}">
                <div class="card-img-overlay">
                    <h5 class="card-title"> {{ brand.getSlogan() }} </h5>
                    <a href="{{ brand.getUrlwebsite() }}" target="_blank">{{ brand.getName() }}</a>
                    <a href="{{ brand.getUrlFac() }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{ brand.getUrlInsta() }}" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>

            </div>


            <div id="test">


                {% for t in brand.getStyle.toArray() %}

                {% endfor %}


            </div>



        <div id="competing">
            <p> Marques recommandées - Style</p>
            {% set var1 = brand.getStyle.toArray() %}
            {% set tab = [] %}
            {% for b in brands %}
                {% set var2 = b.getStyle.toArray() %}
                {% for s in var2 %}
                    {% for truc in var1 %}
                        {% if s.getLabel() == truc.getLabel() %}
                            {% if brand.getName() != b.getName() %}
                                {% if b.getName() not in tab %}
                                    {{ b.getName() }}
                                    {% set tab = tab|merge([''~b.getName()])  %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                {% endfor %}

            </div>
        </div>
    {% endblock %}