{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Nos marques
{% endblock %}

    {% block body %}
        <div class="container-fluid marquesbg padding-start" id="section-start">


        <h1>Liste des Marques</h1>


            <div class="form">

                <form method='post' action='#'>
                    <input type='text' id='target' name='target'>
                    <input type='submit' value='Rechercher'>
                </form>
            </div>

            <div class="test">



            </div>

            <script>
                var xTriggered = 0;
                $( "#target" ).keyup(function( event ) {
                    xTriggered++;
                    var msg = "Handler for .keyup() called " + xTriggered + " time(s).";
                    alert("loool")
                }).keydown(function( event ) {
                    if ( event.which == 13 ) {
                        event.preventDefault();
                    }
                });
            </script>

            <div class="row p-4">
                <div class="col-md-3 column-filters p-4">
                <div class="container-btn text-center"><a href="#" class="button-fh p-2">Réinitialiser</a></div>
                 <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="cbHomme" onchange="filterCb(this, 'cible', 'homme')">
                    <label class="form-check-label" for="cbHomme">Homme</label>
                  </div>
                  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                  <button class="btn" onclick="filterSelection('Homme')"> Homme</button>
                  <button class="btn" onclick="filterSelection('Femme')"> Femme</button>
                  <button class="btn" onclick="filterSelection('Enfant')"> Enfant</button>

                </div>

                  <div class="col-md-9">
                    <div class="row px-4">
                {% for brand in brands %}
                 {% set targets = brand.getTarget.toArray() %}
                 {% set styles = brand.getStyle.toArray() %}
                 {% set categories = brand.getPrimaryCategory().toArray() %}
                     <div class="col-md-3 px-2 py-2 filter-card">

                    <div class="card-marques shadow-sm">
                        <img class="img-fluid card-img" src="{{ asset('bundles/app/img/' ~ brand.getPicture() ) }}">
                        <div class="container-img-brand">
                            <img src="{{ asset('bundles/app/img/' ~ brand.getLogo()) }}" class="img-fluid">
                        </div>
                        <div class="container-hover-info">

                            <h5 class="card-title"> {{ brand.getName() }} </h5>
                            {{ brand.getSlogan() }}
                            <ul>
                                <li>PAYS<br>
                                    <strong>{{ brand.getCountry().getName() }}</strong></li>
                                <li>CATÉGORIE<br>
                                    <strong> {% for categorie in categories %}
                                            {{ categorie.getLabel() }},
                                        {% endfor %}</strong>
                                </li>
                                <li>STYLE<br>
                                    <strong>  {% for style in styles %}
                                            {{ style.getLabel() }},
                                        {% endfor %}</strong>
                                </li>
                                <li>CIBLE<br>
                                    <strong class="cible"> {% for target in targets %}
                                            {{ target.getLabel() }},
                                        {% endfor %}</strong>
                                </li>
                                <li>GAMME DE PRIX<br>
                                    <strong>{{ brand.getPriceRange().getLabel() }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="button-slide-brands"><a href="{{ path('details_marques', {'marque': brand.getName()} ) }}" class="button-sb p-1">
                                Découvrir la marque </a>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
            </div>
            </div>
       </div>
    {% endblock %}