{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    French Select - La marque {{ brand.getName() }}
{% endblock %}

    {% block body %}


        <section class="container-fluid padding-start pb-4" id="section-start">

            <div class="container container-brand-detail-master mt-3">
                <div class="container-brand-detail">
                    <div class="mask-brand" id="lifestyle_div">
                        <script>
                            var temp;
                            if (getCookie("target") == "homme-tab") {
                                console.log("homme");
                                temp = "<img class=\"img-fluid bandeau-marque\"\n" +
                                    " src=\"{{ asset('bundles/app/img/'~brand.getLifestyleHomme()) }}\">"
                            }
                            else if (getCookie("target") == "femme-tab") {
                                console.log("femme");
                                temp = "<img class=\"img-fluid bandeau-marque\"\n" +
                                    " src=\"{{ asset('bundles/app/img/'~brand.getLifestyleFemme()) }}\">"
                            }
                            else {
                                console.log("enfant");
                                temp = "<img class=\"img-fluid bandeau-marque\"\n" +
                                    " src=\"{{ asset('bundles/app/img/'~brand.getLifestyleEnfant()) }}\">"
                            }

                            var x = document.getElementById("lifestyle_div");
                            x.innerHTML = temp;
                        </script>
                    </div>
                    <div class="container-brand-detail-text">
                        <div class="container-button-backb"><a href="{{ path('marques') }}" id="btn-retour"><span
                                        class="button-backb p-2"><img
                                            src=" {{ asset('bundles/app/img/angle-left.svg') }}" height="20px"/> Retour aux marques</span></a>
                        </div>
                        <h1>{{ brand.getName() }}</h1>
                        <p style="font-size:15px"><a href="{{ brand.getUrlwebsite() }}"
                                                     target="_blank">{{ brand.getUrlwebsite() }}</a></p>
                        <p class="font-weight-bold p-4">{{ brand.getSlogan() }}</p>
                        <p>{{ brand.getDescription() }}</p>
                        <div class="d-flex justify-content-center p-4">
                            {% if brand.getUrlFac() != "" %}
                                <div class="icons-network"><a href="{{ brand.getUrlFac() }}" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a></div>
                            {% endif %}
                            {% if brand.getUrlInsta() != "" %}
                                <div class="icons-network"><a href="{{ brand.getUrlInsta() }}" target="_blank"><i
                                                class="fab fa-instagram"></i></a></div>
                            {% endif %}
                        </div>
                        <div>
                            {% if brand.getLookBook() != "" %}
                                <a href="{{ asset('bundles/app/book/'~brand.getLookBook()) }}"
                                   target="_blank">CONSULTER LE LOOKBOOK</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid sub-title-brands p-2">
            <h2>Catalogue des produits</h2>
            <div class="container-book-detail">
                <div class="container-book-detail-text">
                    <h1>Demandez l'accès</h1>
                    <p class="p-2">Pour avoir l'accès au catalogue des produits de cette marque, envoyez-nous une
                        demande.</p>
                    <a href="{{ path('contact') }}"><span
                                class="button-fc p-2">Contactez-nous</span></a>
                </div>

                <div class="mask-book"><img class="img-fluid bandeau-marque"
                                            src="{{ asset('bundles/app/img/'~brand.getLifestyle2()) }}">
                </div>
            </div>
        </section>

        <section class="container-fluid brands-competitor p-4">

            {% set hommeRecommande = [] %}
            {% set femmeRecommande = [] %}
            {% set enfantRecommande = [] %}
            {% for row in brandRecommande %}

                {% set hommeRecommande = hommeRecommande|merge([row.getRecommandeHomme()]) %}
                {% set femmeRecommande = femmeRecommande|merge([row.getRecommandeFemme()]) %}
                {% set enfantRecommande = enfantRecommande|merge([row.getRecommandeEnfant()]) %}

            {% endfor %}


            <h2>Les marques complémentaires</h2>
            <div id="brand_recommande"></div>

            <script>
                var temp;
                if (getCookie("target") == "homme-tab") {

                    temp = "<div class=\"row px-4 justify-content-around\">" +

                        "    {% for brand in hommeRecommande %}" +
                        "        {% if brand is not null %}" +
                        "        {% set targets = brand.getTarget.toArray() %}" +
                        "        {% set univers = brand.getUnivers().toArray() %}" +
                        "        {% set categories = brand.getPrimaryCategory().toArray() %}" +
                        "        {% set features = brand.getFeature().toArray() %}" +
                        "        <div class=\"col-md-3 px-2 py-2\">\n" +
                        "\n" +
                        "            <div class=\"card-marques shadow-sm\">\n" +

                        "                    <img class=\"img-fluid card-img\"\n" +
                        "                         src=\"{{ asset('bundles/app/img/' ~ brand.getPictureHomme() ) }}\">\n" +

                        "                <div class=\"container-img-brand\">\n" +
                        "                    <img src=\"{{ asset('bundles/app/img/' ~ brand.getLogo()) }}\" class=\"img-fluid\">\n" +
                        "                </div>\n" +
                        "                <div class=\"container-hover-info\">\n" +
                        "\n" +
                        "                    <h5 class=\"card-title\"> {{ brand.getName() }} </h5>\n" +
                        "                    {{ brand.getSlogan() }}\n" +
                        "                    <ul>\n" +
                        "                        <li>PAYS<br>\n" +
                        "                            <strong>{{ brand.getCountry().getName() }}</strong></li>\n" +
                        "                        <li>CATÉGORIE<br>\n" +
                        "                            <strong> {% for categorie in categories %}\n" +
                        "                                    {{ categorie.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>UNIVERS<br>\n" +
                        "                            <strong>  {% for univ in univers %}\n" +
                        "                                    {{ univ.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>CIBLE<br>\n" +
                        "                            <strong> {{ brand.getPrimarytarget().getLabel() }}{% for target in targets %}{% if loop.first %},{% endif %}\n" +
                        "                                    {{ target.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>GAMME DE PRIX<br>\n" +
                        "                            <strong>{{ brand.getPriceRange().getLabel() }}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li> {% if features is not empty %}LABEL<br>{% endif %}\n" +
                        "                            <strong> {% for feature in features %}\n" +
                        "                                    {{ feature.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                    </ul>\n" +
                        "                </div>\n" +
                        "                <div class=\"button-slide-brands\"><a\n" +
                        "                            href=\"{{ path('details_marques', {'marque': brand.getName()} ) }}\"\n" +
                        "                            class=\"button-sb p-1\">\n" +
                        "                        Découvrir la marque </a>\n" +
                        "                </div>\n" +
                        "\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    {% endif %}\n" +
                        "    {% endfor %}\n" +
                        "</div>"
                }
                if (getCookie("target") == "femme-tab") {

                    temp = "<div class=\"row px-4 justify-content-around\">" +

                        "    {% for brand in femmeRecommande %}" +
                        "        {% if brand is not null %}" +
                        "        {% set targets = brand.getTarget.toArray() %}" +
                        "        {% set univers = brand.getUnivers().toArray() %}" +
                        "        {% set categories = brand.getPrimaryCategory().toArray() %}" +
                        "        {% set features = brand.getFeature().toArray() %}" +
                        "        <div class=\"col-md-3 px-2 py-2\">\n" +
                        "\n" +
                        "            <div class=\"card-marques shadow-sm\">\n" +

                        "                    <img class=\"img-fluid card-img\"\n" +
                        "                         src=\"{{ asset('bundles/app/img/' ~ brand.getPictureFemme() ) }}\">\n" +

                        "                <div class=\"container-img-brand\">\n" +
                        "                    <img src=\"{{ asset('bundles/app/img/' ~ brand.getLogo()) }}\" class=\"img-fluid\">\n" +
                        "                </div>\n" +
                        "                <div class=\"container-hover-info\">\n" +
                        "\n" +
                        "                    <h5 class=\"card-title\"> {{ brand.getName() }} </h5>\n" +
                        "                    {{ brand.getSlogan() }}\n" +
                        "                    <ul>\n" +
                        "                        <li>PAYS<br>\n" +
                        "                            <strong>{{ brand.getCountry().getName() }}</strong></li>\n" +
                        "                        <li>CATÉGORIE<br>\n" +
                        "                            <strong> {% for categorie in categories %}\n" +
                        "                                    {{ categorie.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>UNIVERS<br>\n" +
                        "                            <strong>  {% for univ in univers %}\n" +
                        "                                    {{ univ.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>CIBLE<br>\n" +
                        "                            <strong> {{ brand.getPrimarytarget().getLabel() }}{% for target in targets %}{% if loop.first %},{% endif %}\n" +
                        "                                    {{ target.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>GAMME DE PRIX<br>\n" +
                        "                            <strong>{{ brand.getPriceRange().getLabel() }}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li> {% if features is not empty %}LABEL<br>{% endif %}\n" +
                        "                            <strong> {% for feature in features %}\n" +
                        "                                    {{ feature.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                    </ul>\n" +
                        "                </div>\n" +
                        "                <div class=\"button-slide-brands\"><a\n" +
                        "                            href=\"{{ path('details_marques', {'marque': brand.getName()} ) }}\"\n" +
                        "                            class=\"button-sb p-1\">\n" +
                        "                        Découvrir la marque </a>\n" +
                        "                </div>\n" +
                        "\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    {% endif %}\n" +
                        "    {% endfor %}\n" +
                        "</div>"
                }
                if (getCookie("target") == "enfant-tab") {

                    temp = "<div class=\"row px-4 justify-content-around\">" +

                        "    {% for brand in enfantRecommande %}" +
                        "        {% if brand is not null %}" +
                        "        {% set targets = brand.getTarget.toArray() %}" +
                        "        {% set univers = brand.getUnivers().toArray() %}" +
                        "        {% set categories = brand.getPrimaryCategory().toArray() %}" +
                        "        {% set features = brand.getFeature().toArray() %}" +
                        "        <div class=\"col-md-3 px-2 py-2\">\n" +
                        "\n" +
                        "            <div class=\"card-marques shadow-sm\">\n" +

                        "                    <img class=\"img-fluid card-img\"\n" +
                        "                         src=\"{{ asset('bundles/app/img/' ~ brand.getPictureEnfant() ) }}\">\n" +

                        "                <div class=\"container-img-brand\">\n" +
                        "                    <img src=\"{{ asset('bundles/app/img/' ~ brand.getLogo()) }}\" class=\"img-fluid\">\n" +
                        "                </div>\n" +
                        "                <div class=\"container-hover-info\">\n" +
                        "\n" +
                        "                    <h5 class=\"card-title\"> {{ brand.getName() }} </h5>\n" +
                        "                    {{ brand.getSlogan() }}\n" +
                        "                    <ul>\n" +
                        "                        <li>PAYS<br>\n" +
                        "                            <strong>{{ brand.getCountry().getName() }}</strong></li>\n" +
                        "                        <li>CATÉGORIE<br>\n" +
                        "                            <strong> {% for categorie in categories %}\n" +
                        "                                    {{ categorie.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>UNIVERS<br>\n" +
                        "                            <strong>  {% for univ in univers %}\n" +
                        "                                    {{ univ.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>CIBLE<br>\n" +
                        "                            <strong> {{ brand.getPrimarytarget().getLabel() }}{% for target in targets %}{% if loop.first %},{% endif %}\n" +
                        "                                    {{ target.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li>GAMME DE PRIX<br>\n" +
                        "                            <strong>{{ brand.getPriceRange().getLabel() }}</strong>\n" +
                        "                        </li>\n" +
                        "                        <li> {% if features is not empty %}LABEL<br>{% endif %}\n" +
                        "                            <strong> {% for feature in features %}\n" +
                        "                                    {{ feature.getLabel() }}{% if not loop.last %},{% endif %}\n" +
                        "                                {% endfor %}</strong>\n" +
                        "                        </li>\n" +
                        "                    </ul>\n" +
                        "                </div>\n" +
                        "                <div class=\"button-slide-brands\"><a\n" +
                        "                            href=\"{{ path('details_marques', {'marque': brand.getName()} ) }}\"\n" +
                        "                            class=\"button-sb p-1\">\n" +
                        "                        Découvrir la marque </a>\n" +
                        "                </div>\n" +
                        "\n" +
                        "            </div>\n" +
                        "        </div>\n" +
                        "    {% endif %}\n" +
                        "    {% endfor %}\n" +
                        "</div>"
                }



                var x = document.getElementById("brand_recommande");
                x.innerHTML = temp;
            </script>




            <div class="container-btn text-center"><a href="{{ path('marques') }}" class="button-fh p-2 mb-4">Découvrez
                    toutes nos marques</a></div>
        </section>

    {% endblock %}