{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Une marque
{% endblock %}

    {% block body %}
        <h1>LOOOOOL</h1>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Pays</th>
                <th>Slogan</th>
                <th>Description</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Site</th>
                <th>Price Range</th>
                <th>Lifestyle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ brand.getName() }}</td>
                <td>{{ brand.getCountry().getName() }}</td>
                <td>{{ brand.getSlogan() }}</td>
                <td>{{ brand.getDescription() }}</td>
                <td>{{ brand.getUrlFac() }}</td>
                <td>{{ brand.getUrlInsta() }}</td>
                <td>{{ brand.getUrlwebsite() }}</td>
                <td>{{ brand.getPriceRange().getLabel() }}</td>
                <td><img href=""></td>
            </tr>
            </tbody>
        </table>
    {% endblock %}