{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Détails Marque
{% endblock %}

    {% block body %}

        <div class="container-fluid " id="section-start">


        <div class="container containter-brand-detail">
            <img class="img-fluid bandeau-marque" src="{{ asset('bundles/app/img/'~brand.getLifestyle()) }}" width="460" height="345">
            <div class="centered"><h1 style="color: #FFFFFF">{{ brand.getName() }}</h1></div>
        </div>
            

        <div id="competing">

            <p> Marques recommandées</p>

            <!-- Début de l'algorithme -->
            <!--Initialisation des variables -->
            {% set styleBrand = brand.getStyle.toArray() %}
            {% set targetBrand = brand.getTarget.toArray() %}
            {% set categoryBrand = brand.getPrimaryCategory().toArray() %}
            {% set tab1 = [] %}
            {% set tab2 = [] %}
            {% set tab3 = [] %}
            {% set tab4 = [] %}
            {% set res1 = 0 %}
            {% set res2 = 0 %}
            {% set res3 = 0 %}
            {% set res4 = 0 %}
            {% set M1 = "" %}
            {% set M2 = "" %}
            {% set M3 = "" %}
            {% set M4 = "" %}
            {% for currentBrand in brands %}
                {% set styleComp = currentBrand.getStyle.toArray() %}
                {% set targetComp = currentBrand.getTarget.toArray() %}
                {% set categoryComp = currentBrand.getPrimaryCategory().toArray() %}
                {% set CurrentRes = 0 %}

                <!-- Comparaison des styles -->

                {% for styleC in styleComp %}
                    {% for styleB in styleBrand %}
                        {% if styleB.getLabel() == styleC.getLabel() %}
                            {% if brand.getName() != currentBrand.getName() %}
                                {% set CurrentRes = CurrentRes + 3 %}
                                {% if currentBrand.getName() not in tab1 %}
                                    {% set tab1 = tab1|merge([''~currentBrand.getName()]) %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <!-- Comparaison des cibles -->

                {% for targetC in targetComp %}
                    {% for targetB in targetBrand %}
                        {% if targetB.getLabel() == targetC.getLabel() %}
                            {% if brand.getName() != currentBrand.getName() %}
                                {% set CurrentRes = CurrentRes + 4 %}
                                {% if currentBrand.getName() not in tab2 %}
                                    {% set tab2 = tab2|merge([''~currentBrand.getName()]) %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <!-- Comparaison des catégories -->

                {% for categoryC in categoryComp %}
                    {% for categoryB in categoryBrand %}
                        {% if categoryB.getLabel() == categoryC.getLabel() %}
                            {% if brand.getName() != currentBrand.getName() %}
                                {% set CurrentRes = CurrentRes + 1 %}
                                {% if currentBrand.getName() not in tab3 %}
                                    {% set tab3 = tab3|merge([''~currentBrand.getName()]) %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <!-- Comparaison de la gamme de prix -->

                {% if brand.getPriceRange == currentBrand.getPriceRange %}
                    {% set CurrentRes = CurrentRes + 2 %}
                    {% if currentBrand.getName() not in tab4 %}
                        {% set tab4 = tab4|merge([''~currentBrand.getName()]) %}
                    {% endif %}
                {% endif %}



                <!-- On compte les points -->
                {% if CurrentRes > res1 %}
                    {% set res4 = res3 %}
                    {% set res3 = res2 %}
                    {% set res2 = res1 %}
                    {% set M4 = M3 %}
                    {% set M3 = M2 %}
                    {% set M2 = M1 %}
                    {% set res1 = CurrentRes %}
                    {% set M1 = currentBrand %}
                    {% elseif CurrentRes > res2 %}
                        {% set res4 = res3 %}
                        {% set res3 = res2 %}
                        {% set M4 = M3 %}
                        {% set M3 = M2 %}
                        {% set res2 = CurrentRes %}
                        {% set M2 = currentBrand %}
                    {% elseif CurrentRes > res3 %}
                        {% set res4 = res3 %}
                        {% set M4 = M3 %}
                        {% set res3 = CurrentRes %}
                        {% set M3 = currentBrand %}
                    {% elseif CurrentRes > res4 %}
                        {% set res4 = CurrentRes %}
                        {% set M4 = currentBrand %}
                {% endif %}

            {% endfor %}

            <!-- Affichage des résultats -->
            {{ M1.getName() }} : {{ res1 }} pts <br>
            {{ M2.getName() }} : {{ res2 }} pts <br>
            {{ M3.getName() }} : {{ res3 }} pts <br>
            {{ M4.getName() }} : {{ res4 }} pts <br>

            <!-- Fin de l'algorithme -->
        </div>
        </div>
    {% endblock %}