{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Nos marques
{% endblock %}

    {% block body %}
     <div class="container-fluid " id="section-start">

        <h1>Liste des Marques</h1>


  {% set cpt = 0 %}
       <div class="card-deck">
               {% for brand in brands %}

                {% if cpt !=0 and cpt % 4 == 0 %}
                    </div>
                    <div class="card-deck">
                {% endif %}

                 <div class="card card-marques">

                      <div class="card-img ">
                           <img class="card-img" src="{{ asset('bundles/app/img/' ~brand.getPicture() ) }}">
                     </div>
                     <div class="card-img-overlay info p-t-2">
                            <img class="img-fluid"src="{{ asset('bundles/app/img/' ~ brand.getLogo())}}" >
                     </div>
                     <div class="card-img-overlay hover-info">
                             {% set targets = brand.getTarget.toArray() %}
                             {% set styles = brand.getStyle.toArray() %}
                             {% set categories = brand.getPrimaryCategory().toArray() %}

                            <h5 class="card-title"> {{ brand.getName() }} </h5>
                             {{ brand.getSlogan() }}
                            <ul>
                                <li><strong>Pays</strong><br>
                                    {{ brand.getCountry().getName() }}</li>

                                <li><strong>Catégories</strong><br>
                                    {% for categorie in categories %}
                                        {{ categorie.getLabel() }},
                                    {% endfor %}
                                </li>

                                <li>
                                    <strong>Styles</strong><br>
                                    {% for style in styles %}
                                        {{ style.getLabel() }},
                                    {% endfor %}
                                </li>

                                <li>
                                    <strong>Cible</strong><br>
                                    {% for target in targets %}
                                        {{ target.getLabel() }},
                                    {% endfor %}
                                </li>

                                <li>
                                    <strong>Gamme de prix</strong><br>
                                    {{ brand.getPriceRange().getLabel() }}
                                </li>
                            </ul>








                              <a href="{{ path('details_marques', {'marque': brand.getName()} ) }}">
                                  Découvrir la marque </a>
                     </div>

                 </div>
                   {% set cpt = cpt + 1 %}
               {% endfor %}
       </div>

       </div>

    {% endblock %}