{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Nos marques
{% endblock %}

    {% block body %}
        <script>
            $(document).ready(function () {
                filterAll();
            });
        </script>
        <div class="container-fluid marquesbg padding-start" id="section-start">
        <h1>Découvrez les marques de </br>
            <span style="color:#FE5F55;">French Select</span></h1>
            <ul class="nav nav-tabs justify-content-center nav-filter-brands" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="homme-tab" data-toggle="tab" href="#homme" role="tab"
                       aria-controls="homme" aria-selected="true">Homme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="femme-tab" data-toggle="tab" href="#femme" role="tab"
                       aria-controls="femme" aria-selected="false">Femme</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="enfant-tab" data-toggle="tab" href="#enfant" role="tab"
                       aria-controls="enfant" aria-selected="false">Enfant</a>
                </li>
            </ul>
            <div class="container bg-searchbar">
            <div class="form" id="searchbar">
                <form action='#'>
                    <input type='text' id='target' name='target'
                    placeholder="Nom d'une marque ou type de produit" align="center" onkeyup="filterSearchBar()" onfocus="this.placeholder=''" onblur="this.placeholder='Nom d\'une marque ou type de produit'">
                </form>
            </div>
        </div>
            <div class="container-list-brand">
                <div class="row tab-content" id="myTabContent">
                <div class="col-3 column-filters p-4 shadow-sm">
                    <div class="container-btn-filters text-center"><a onclick="reinit()" class="button-fb p-2">Réinitialiser</a>
                    </div>
                    <div class="container-filters">
                    <div id="categorie">
                        <h2>Catégories</h2>
                        {% for categorie in categories %}
                            {% set marques = categorie.getBrand.toArray() %}
                            {% if marques is not empty %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cb{{ categorie.getLabel() }}"
                                           onchange="filter()"
                                           value="categorie:{{ categorie.getLabel() }}">
                                    <label class="form-check-label"
                                           for="cb{{ categorie.getLabel() }}">{{ categorie.getLabel() }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="style">
                        <h2>Univers</h2>
                        {% for style in styles %}
                            {% set marques = style.getBrand.toArray() %}
                            {% if marques is not empty %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cb{{ style.getLabel() }}"
                                           onchange="filter()"
                                           value="style:{{ style.getLabel() }}">
                                    <label class="form-check-label"
                                           for="cb{{ style.getLabel() }}">{{ style.getLabel() }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="price">
                        <h2>Gamme de prix</h2>
                        {% for price in prices %}
                            {% set bool = false %}
                            {% for brand in brands %}
                                {% if brand.getPriceRange() == price %} {% set bool = true %} {% endif %}
                            {% endfor %}
                            {% if bool %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cb{{ price.getLabel() }}"
                                           onchange="filter()"
                                           value="priceRange:{{ price.getLabel() }}">
                                    <label class="form-check-label"
                                           for="cb{{ price.getLabel() }}">{{ price.getLabel() }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="feature">
                        <h2>Particularité</h2>
                        {% for feature in features %}
                            {% set marques = feature.getBrand.toArray() %}
                            {% if marques is not empty %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cb{{ feature.getLabel() }}"
                                           onchange="filter()"
                                           value="feature:{{ feature.getLabel() }}">
                                    <label class="form-check-label"
                                           for="cb{{ feature.getLabel() }}">{{ feature.getLabel() }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
                    <div class="col-9 tab-pane fade show active" id="homme" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row px-4">
                                {% for brand in brands %}
                                    {% set cibles = brand.getTarget.toArray() %}
                                    {% set temp = [brand.getPrimarytarget().getLabel()] %}
                                    {% for c in cibles %} {% set temp = temp|merge([c.getLabel()]) %} {% endfor %}
                                    {% if "Homme" in temp %}

                                        {% set targets = brand.getTarget.toArray() %}
                                        {% set styles = brand.getStyle.toArray() %}
                                        {% set categories = brand.getPrimaryCategory().toArray() %}
                                        {% set features = brand.getFeature().toArray() %}
                                        <div class="col-md-3 px-2 py-2 filter-card">

                                            <div class="card-marques shadow-sm">
                                                <img class="img-fluid card-img"
                                                     src="{{ asset('bundles/app/img/' ~ brand.getPicture() ) }}">
                                                <div class="container-img-brand">
                                                    <img src="{{ asset('bundles/app/img/' ~ brand.getLogo()) }}"
                                                         class="img-fluid">
                                                </div>
                                                <div class="container-hover-info">

                                                    <h5 class="card-title"> {{ brand.getName() }} </h5>
                                                    {{ brand.getSlogan() }}
                                                    <ul>
                                                        <li>PAYS<br>
                                                            <strong>{{ brand.getCountry().getName() }}</strong></li>
                                                        <li>CATÉGORIE<br>
                                                            <strong class="categorie"> {% for categorie in categories %}
                                                                    {{ categorie.getLabel() }}{% if not loop.last %},{% endif %}
                                                                {% endfor %}</strong>
                                                        </li>
                                                        <li>STYLE<br>
                                                            <strong class="style">  {% for style in styles %}
                                                                    {{ style.getLabel() }}{% if not loop.last %},{% endif %}
                                                                {% endfor %}</strong>
                                                        </li>
                                                        <li>GAMME DE PRIX<br>
                                                            <strong class="priceRange">{{ brand.getPriceRange().getLabel() }}</strong>
                                                        </li>
                                                        {% if features is not empty %}
                                                            <li>PARTICULARITÉ<br>
                                                                <strong class="feature"> {% for feature in features %}
                                                                        {{ feature.getLabel() }}{% if not loop.last %},{% endif %}
                                                                    {% endfor %}</strong>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="button-slide-brands"><a
                                                            href="{{ path('details_marques', {'marque': brand.getName()} ) }}"
                                                            class="button-sb p-1">
                                                        Découvrir la marque </a>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {# FIN TAB HOMME #}
                        <div class="col-9 tab-pane fade" id="femme" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row px-4">
                                {% for brand in brands %}
                                    {% set cibles = brand.getTarget.toArray() %}
                                    {% set temp = [brand.getPrimarytarget().getLabel()] %}
                                    {% for c in cibles %} {% set temp = temp|merge([c.getLabel()]) %} {% endfor %}
                                    {% if "Femme" in temp %}

                                        {% set targets = brand.getTarget.toArray() %}
                                        {% set styles = brand.getStyle.toArray() %}
                                        {% set categories = brand.getPrimaryCategory().toArray() %}
                                        {% set features = brand.getFeature().toArray() %}
                                        <div class="col-md-3 px-2 py-2 filter-card">
                                            <div class="card-marques shadow-sm">
                                                <img class="img-fluid card-img"
                                                     src="{{ asset('bundles/app/img/' ~ brand.getPicture() ) }}">
                                                <div class="container-img-brand">
                                                    <img src="{{ asset('bundles/app/img/' ~ brand.getLogo()) }}"
                                                         class="img-fluid">
                                                </div>
                                                <div class="container-hover-info">

                                                    <h5 class="card-title"> {{ brand.getName() }} </h5>
                                                    {{ brand.getSlogan() }}
                                                    <ul>
                                                        <li>PAYS<br>
                                                            <strong>{{ brand.getCountry().getName() }}</strong></li>
                                                        <li>CATÉGORIE<br>
                                                            <strong class="categorie"> {% for categorie in categories %}
                                                                    {{ categorie.getLabel() }}{% if not loop.last %},{% endif %}
                                                                {% endfor %}</strong>
                                                        </li>
                                                        <li>STYLE<br>
                                                            <strong class="style">  {% for style in styles %}
                                                                    {{ style.getLabel() }}{% if not loop.last %},{% endif %}
                                                                {% endfor %}</strong>
                                                        </li>
                                                        <li>GAMME DE PRIX<br>
                                                            <strong class="priceRange">{{ brand.getPriceRange().getLabel() }}</strong>
                                                        </li>
                                                        {% if features is not empty %}
                                                            <li>PARTICULARITÉ<br>
                                                                <strong class="feature"> {% for feature in features %}
                                                                        {{ feature.getLabel() }}{% if not loop.last %},{% endif %}
                                                                    {% endfor %}</strong>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="button-slide-brands"><a
                                                            href="{{ path('details_marques', {'marque': brand.getName()} ) }}"
                                                            class="button-sb p-1">
                                                        Découvrir la marque </a>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {# FIN TAB FEMME #}
                    <div class="col-9 tab-pane fade" id="enfant" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row px-4">
                                {% for brand in brands %}
                                    {% set cibles = brand.getTarget.toArray() %}
                                    {% set temp = [brand.getPrimarytarget().getLabel()] %}
                                    {% for c in cibles %} {% set temp = temp|merge([c.getLabel()]) %} {% endfor %}
                                    {% if "Enfant" in temp %}

                                        {% set styles = brand.getStyle.toArray() %}
                                        {% set categories = brand.getPrimaryCategory().toArray() %}
                                        {% set features = brand.getFeature().toArray() %}
                                        <div class="col-md-3 px-2 py-2 filter-card">

                                            <div class="card-marques shadow-sm">
                                                <img class="img-fluid card-img"
                                                     src="{{ asset('bundles/app/img/' ~ brand.getPicture() ) }}">
                                                <div class="container-img-brand">
                                                    <img src="{{ asset('bundles/app/img/' ~ brand.getLogo()) }}"
                                                         class="img-fluid">
                                                </div>
                                                <div class="container-hover-info">

                                                    <h5 class="card-title"> {{ brand.getName() }} </h5>
                                                    {{ brand.getSlogan() }}
                                                    <ul>
                                                        <li>PAYS<br>
                                                            <strong>{{ brand.getCountry().getName() }}</strong></li>
                                                        <li>CATÉGORIE<br>
                                                            <strong class="categorie"> {% for categorie in categories %}
                                                                    {{ categorie.getLabel() }}{% if not loop.last %},{% endif %}
                                                                {% endfor %}</strong>
                                                        </li>
                                                        <li>STYLE<br>
                                                            <strong class="style">  {% for style in styles %}
                                                                    {{ style.getLabel() }}{% if not loop.last %},{% endif %}
                                                                {% endfor %}</strong>
                                                        </li>
                                                        <li>GAMME DE PRIX<br>
                                                            <strong class="priceRange">{{ brand.getPriceRange().getLabel() }}</strong>
                                                        </li>
                                                        {% if features is not empty %}
                                                            <li>PARTICULARITÉ<br>
                                                                <strong class="feature"> {% for feature in features %}
                                                                        {{ feature.getLabel() }}{% if not loop.last %},{% endif %}
                                                                    {% endfor %}</strong>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="button-slide-brands"><a
                                                            href="{{ path('details_marques', {'marque': brand.getName()} ) }}"
                                                            class="button-sb p-1">
                                                        Découvrir la marque </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                     {# FIN TAB ENFANT#}
                </div>{# FIN TABCONTENT #}
            </div>
        </div> {# FIN CONTAINER FLUID #}
    {% endblock %}