{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Une marque
{% endblock %}

    {% block body %}
        <h1>LOOOOOL</h1>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Pays</th>
<<<<<<< HEAD
                <th>Slogan</th>
                <th>Description</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Site</th>
                <th>Price Range</th>
                <th>Lifestyle</th>
=======
>>>>>>> 01dc8f6cadb726136f79c5740da886b4c6afb109
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ brand.getName() }}</td>
<<<<<<< HEAD
                <td>{{ brand.getCountry().getName() }}</td>
                <td>{{ brand.getSlogan() }}</td>
                <td>{{ brand.getDescription() }}</td>
                <td>{{ brand.getUrlFac() }}</td>
                <td>{{ brand.getUrlInsta() }}</td>
                <td>{{ brand.getUrlwebsite() }}</td>
                <td>{{ brand.getPriceRange().getLabel() }}</td>
                <td><img href=""></td>
=======
                {% for country in countries %}
                    {% if brand.getCountry.Id() == country.getId() %}
                        <td>{{ country.getName() }}</td>
                    {% endif %}
                {% endfor %}
>>>>>>> 01dc8f6cadb726136f79c5740da886b4c6afb109
            </tr>
            </tbody>
        </table>
    {% endblock %}