{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Détails Marque
{% endblock %}

    {% block body %}

        <div class="container-fluid " id="section-start">
        <h1>{{ brand.getName() }}</h1>
        <div class="container">
            <div class="card">

                <img class="card-img" src="{{ asset('bundles/app/img/'~brand.getLifestyle()) }}">
                <div class="card-img-overlay">
                    <h5 class="card-title"> {{ brand.getSlogan() }} </h5>
                    <a href="{{ brand.getUrlwebsite() }}" target="_blank">{{ brand.getName() }}</a>
                    <a href="{{ brand.getUrlFac() }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{ brand.getUrlInsta() }}" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>

            </div>




        <div id="competing">
            <p> Marques recommandées - Style</p>
            <!--Initialisation des variables -->
            {% set styleBrand = brand.getStyle.toArray() %}
            {% set targetBrand = brand.getTarget.toArray() %}
            {% set categoryBrand = brand.getPrimaryCategory().toArray() %}
            {% set tab1 = [] %}
            {% set tab2 = [] %}
            {% set tab3 = [] %}
            {% set res = [] %}
            {% for currentBrand in brands %}
                {% set styleComp = currentBrand.getStyle.toArray()  %}
                {% set targetComp = currentBrand.getTarget.toArray() %}
                {% set categoryComp = currentBrand.getPrimaryCategory().toArray() %}

                <!-- Comparaison des styles -->

                {% for styleC in styleComp %}
                    {% for styleB in styleBrand %}
                        {% if styleB.getLabel() == styleC.getLabel() %}
                            {% if brand.getName() != currentBrand.getName() %}
                                {% if currentBrand.getName() not in tab1 %}
                                    {% set tab1 = tab1|merge([''~currentBrand.getName()])  %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <!-- Comparaison des cibles -->

                {% for targetC in targetComp %}
                    {% for targetB in targetBrand %}
                        {% if targetB.getLabel() == targetC.getLabel() %}
                            {% if brand.getName() != currentBrand.getName() %}
                                {% if currentBrand.getName() not in tab2 %}
                                    {% set tab2 = tab2|merge([''~currentBrand.getName()])  %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <!-- Comparaison des catégories -->

                {% for categoryC in categoryComp %}
                    {% for categoryB in categoryBrand %}
                        {% if categoryB.getLabel() == categoryC.getLabel() %}
                            {% if brand.getName() != currentBrand.getName() %}
                                {% if currentBrand.getName() not in tab3 %}
                                    {% set tab3 = tab3|merge([''~currentBrand.getName()])  %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            {% endfor %}

            <!-- Comparaion des tab -->
            {% for element in tab1 %}
                {% if element in tab2 and element in tab3 %}
                    {% set res = res|merge([element]) %}
                {% endif %}
            {% endfor %}


            <!-- Affichage des résultats -->
            {% for resultats in res %}
                {{ resultats }}
            {% endfor %}
        </div>
    {% endblock %}