{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Nos marques
{% endblock %}

    {% block body %}
    <script>
        $( document ).ready(function() {
               filterAll();
            });
    </script>
        <div class="container-fluid marquesbg padding-start" id="section-start">


        <h1>Liste des Marques</h1>


            <div class="form">

                <form method='post' action='#'>
                    <input type='text' id='target' name='target'>
                    <input type='submit' value='Rechercher'>
                </form>
            </div>

            <div class="test">



            </div>

            <script>
                var xTriggered = 0;
                $( "#target" ).keyup(function( event ) {
                    xTriggered++;
                    var msg = "Handler for .keyup() called " + xTriggered + " time(s).";
                    alert("loool")
                }).keydown(function( event ) {
                    if ( event.which == 13 ) {
                        event.preventDefault();
                    }
                });
            </script>

            <div class="row p-4">
                <div class="col-md-3 column-filters p-4">
                <div class="container-btn text-center"><a href="#" class="button-fh p-2">Réinitialiser</a></div>
                <div id="cible" style=" padding-bottom: 20px;">
                    <p> Cible </p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbAll" onchange="filter()"
                        value="target:all">
                        <label class="form-check-label" for="cbAll">Tout</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbHomme" onchange="filter()"
                        value="target:Homme">
                        <label class="form-check-label" for="cbHomme">Homme</label>
                     </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbFemme" onchange="filter()"
                        value="target:Femme">
                        <label class="form-check-label" for="cbFemme">Femme</label>
                    </div>
                    <div class="form-check">
                         <input type="checkbox" class="form-check-input" id="cbEnfant" onchange="filter()"
                         value="target:Enfant">
                         <label class="form-check-label" for="cbEnfant">Enfant</label>
                    </div>
                </div>
                <div id="categorie">
                    <p> Catégories </p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbAll" onchange="filter()"
                        value="categorie:all">
                        <label class="form-check-label" for="cbAll">Tout</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbPAP" onchange="filter()"
                        value="categorie:Prêt-à-porter">
                        <label class="form-check-label" for="cbPAP">Prêt-à-porter</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbAccessoires" onchange="filter()"
                        value="categorie:Accessoires">
                        <label class="form-check-label" for="cbAccessoires">Accessoires</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbBijoux" onchange="filter()"
                        value="categorie:Bijoux / Montres">
                        <label class="form-check-label" for="cbBijoux">Bijoux / Montres</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbSacs" onchange="filter()"
                        value="categorie:Sacs / Maroquinerie">
                        <label class="form-check-label" for="cbSacs">Sacs / Maroquinerie</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbBagages" onchange="filter()"
                        value="categorie:Bagages">
                        <label class="form-check-label" for="cbBagages">Bagages</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbParapluies" onchange="filter()"
                        value="categorie:Parapluies">
                        <label class="form-check-label" for="cbParapluies">Parapluies</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbChaussures" onchange="filter()"
                        value="categorie:Chaussures">
                        <label class="form-check-label" for="cbChaussures">Chaussures</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbInsolite" onchange="filter()"
                        value="categorie:Insolite">
                        <label class="form-check-label" for="cbInsolite">Insolite</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbDecoration" onchange="filter()"
                        value="categorie:Décoration">
                        <label class="form-check-label" for="cbDecoration">Décoration</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbSousvetements" onchange="filter()"
                        value="categorie:Sous-vêtements">
                        <label class="form-check-label" for="cbSousvetements">Sous-vêtements</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="cbParfum" onchange="filter()"
                        value="categorie:Parfum">
                        <label class="form-check-label" for="cbParfum">Parfum</label>
                    </div>

                </div>


             </div>

                  <div class="col-md-9">
                    <div class="row px-4">
                {% for brand in brands %}
                 {% set targets = brand.getTarget.toArray() %}
                 {% set styles = brand.getStyle.toArray() %}
                 {% set categories = brand.getPrimaryCategory().toArray() %}
                     <div class="col-md-3 px-2 py-2 filter-card">

                    <div class="card-marques shadow-sm">
                        <img class="img-fluid card-img" src="{{ asset('bundles/app/img/' ~ brand.getPicture() ) }}">
                        <div class="container-img-brand">
                            <img src="{{ asset('bundles/app/img/' ~ brand.getLogo()) }}" class="img-fluid">
                        </div>
                        <div class="container-hover-info">

                            <h5 class="card-title"> {{ brand.getName() }} </h5>
                            {{ brand.getSlogan() }}
                            <ul>
                                <li>PAYS<br>
                                    <strong>{{ brand.getCountry().getName() }}</strong></li>
                                <li>CATÉGORIE<br>
                                    <strong class="categorie"> {% for categorie in categories %}
                                            {{ categorie.getLabel() }},
                                        {% endfor %}</strong>
                                </li>
                                <li>STYLE<br>
                                    <strong class="style">  {% for style in styles %}
                                            {{ style.getLabel() }},
                                        {% endfor %}</strong>
                                </li>
                                <li>CIBLE<br>
                                    <strong class="target"> {% for target in targets %}
                                            {{ target.getLabel() }},
                                        {% endfor %}</strong>
                                </li>
                                <li>GAMME DE PRIX<br>
                                    <strong class="priceRange">{{ brand.getPriceRange().getLabel() }}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="button-slide-brands"><a href="{{ path('details_marques', {'marque': brand.getName()} ) }}" class="button-sb p-1">
                                Découvrir la marque </a>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
            </div>
            </div>
       </div>
    {% endblock %}