
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    French Select - La solution pro pour les marques
{% endblock %}

{% block body %}

    <div class="container-fluid brand-offers padding-start bg2" id="section-start">
        <div class="container">
            <h1>Vous êtes une marque de mode ?</h1>
            <h2>French Select vous aide à optimiser vos <span style="color:#FE5F55;font-weight: bold">ventes
                wholesales</span> en tout simplicité</h2>
            <div class="container mt-4 mb-4">
            <div class="row text-center">
                <div class="col-3 p-4"><a href="#section-crm" title="CRM Online"><img src="{{ asset('bundles/app/img/picto-crm.svg') }}" class="picto-img"/>
                        <div class="picto-text">CRM Online</div></a></div>

                <div class="col-3 p-4"><a href="#section-marketplace" title="Marketplace B2B"><img src="{{ asset('bundles/app/img/picto-marketplace.svg') }}" class="picto-img"/>
                        <div class="picto-text">Marketplace B2B</div></a>

                </div>
                <div class="col-3 p-4"><a href="#section-equipe" title="Équipe commerciale"><img src="{{ asset('bundles/app/img/picto-salesagent.svg') }}" class="picto-img"/>
                        <div class="picto-text">Équipe commerciale</div></a>

                </div>
                <div class="col-3 p-4"><a href="#section-salons" title="Salons régionaux"><img src="{{ asset('bundles/app/img/picto-showroom.svg') }}" class="picto-img"/>
                        <div class="picto-text">Salons régionaux</div></a>

                </div>
            </div>
            </div>
            <div class="container-next"><a href="#section-offers" title="Suivant"><img src=" {{ asset('bundles/app/img/angle-down.svg')}}" /></a></div>
        </div>
    </div>
    <div class="container-fluid" id="section-offers">
        <div class="container">
            <h3>Des offres adaptées à toutes les marques</h3>
            <div class="card-deck">
                <div class="card shadow-sm">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-first.svg') }}">
                        <h2 class="card-title offer-first">Easy Start</h2>
                        <p class="card-text font-weight-bold">Indispensable pour démarrer</p>
                        <p class="card-text">Grâce à l'outil CRM en ligne, gérez facilement les commandes de vos clients professionnels.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('tarifs_marques') }}" class="button-fh p-2">Détails et tarifs</a></div>
                </div>
                <div class="card shadow-sm">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-second.svg') }}">
                        <h2 class="card-title offer-second">Essentiel</h2>
                        <p class="card-text font-weight-bold">Idéal pour se développer</p>
                        <p class="card-text">En plus du CRM, profitez du Marketplace B2B pour augmenter votre visibilité.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('tarifs_marques') }}" class="button-fh p-2">Détails et tarifs</a></div>
                </div>
                <div class="card shadow-sm">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-third.svg') }}">
                        <h2 class="card-title offer-third">Business</h2>
                        <p class="card-text font-weight-bold">Parfait pour décoller</p>
                        <p class="card-text">Utilisez l’ensemble des services de French Select pour développer votre activité.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('tarifs_marques') }}" class="button-fh p-2">Détails et tarifs</a></div>
                </div>
                <div class="card shadow-sm">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-four.svg') }}">
                        <h2 class="card-title offer-four">Premium</h2>
                        <p class="card-text">Bénéficez d'une <b>offre sur mesure</b> adaptée à vos besoins d'aujourd'hui et de demain.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('contact') }}" class="button-fh p-2">Nous contacter</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid brand-offers-detail">
    <div class="container" id="section-crm">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center pt-4">
                <img src="{{ asset('bundles/app/img/picto-crm.svg') }}" class="picto-img"/>
        <h3>Une gestion des commandes wholesale simplifiée</h3>
                </div>
        <p>Le B2B by french Select Le CRM facile et spécialisé pour les marques de modes et de déco.</p>
        <p>Grâce à son interface simple et complète : intégrer et gérer vos collections, vos commerciaux et vos clients sur un même outil.</p>
        <p>Pour plus d’infos (lien vers le B2B)</p>
            </div>
            <div class="col-lg-6 align-self-center text-center">
                Image d'illustration
            </div>
        </div>
    </div>
        <div class="container" id="section-marketplace">
        <div class="row">
            <div class="col-lg-6 align-self-center text-center">
                Image d'illustration
            </div>
            <div class="col-lg-6">
                <div class="text-center pt-4">
                    <img src="{{ asset('bundles/app/img/picto-marketplace.svg') }}" class="picto-img"/>
                </div>
        <h3>Un Marketplace B2B pour élargir votre clientèle !</h3>
        <p>Le Marketplace by Fralign-items-centerench Select vous fera bénéficier de la communication du site auprès de nombreuses boutiques membres du site. De plus, Les nombreuses marques de modes et de déco complémentaires à votre marque faciliteront la prise de commande de vos produits.</p>
        <p>Pour plus d’infos (lien vers le Marketplace)</p>
            </div>
        </div>
        </div>
        <div class="container" id="section-equipe">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center pt-4">
                    <img src="{{ asset('bundles/app/img/picto-salesagent.svg') }}" class="picto-img"/>
        <h3>Des agents commerciaux sur le terrain</h3>
                </div>
        <p>La relation commerciale ne peut pas être complète si elle n’est que digitale. Le service du Showroom by FRENCH SELECT est d’identifier des agents commerciaux expérimentés et sélectionnés suivant des critères de sensibilité aux marques et d’efficacité.</p>
        <p>Influents et présents dans tous les domaines de la mode (le prêt-à-porter, les chaussures, la maroquinerie, les bijoux, les accessoires...) de la décoration (luminaires, tableaux, petit meubles…) ils présentent les collections en showroom, prospectent de nouveaux magasins, assurent une présence aux salons de mode et fidélisent l’ensemble du réseau de distribution français.</p>
        <p>Pour plus d’infos (lien vers l’agence)</p>
            </div>
            <div class="col-lg-6 align-self-center text-center">
                Image d'illustration
            </div>
        </div>
        </div>
        <div class="container" id="section-salons">
        <div class="row">
            <div class="col-lg-6 align-self-center text-center">
                Image d'illustration
            </div>
            <div class="col-lg-6">
                <div class="text-center pt-4">
                    <img src="{{ asset('bundles/app/img/picto-showroom.svg') }}" class="picto-img"/>
            <h3>Des salons régionaux au plus proche des boutiques</h3>
                </div>
        <p>Compliquez de vous développer en région ? French Select développe une nouvelle offre de salons régionaux thématiques (). Ces salons se dérouleront dans des lieux orignaux et dans un modèle éphémère afin de mettre votre marque en valeur auprès d’autres produits complémentaires.</p>
        <p>Pour plus d’infos (lien vers les salons)</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="container-fluid home1">
    <div class="container">
        <h4>Pourquoi confier vos ventes B2B à French Select ?</h4>
        <ul><li>1 - Une équipe familière du monde de la mode et de la déco</li>
            <li>2 – Des services répondant à chaque moment de la vie de votre marque</li>
            <li>3 - Des offres claires et à la carte</li>
            <li>4 – Une gestion intuitive de vos relations commerciales</li>
            <li>5 – Une offre pour votre développement commercial complète</li>
            <li>6 – Un service à l’écoute de vos besoins</li>
        </ul>
    </div>
    </div>


{% endblock %}