{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    French Select - Les showrooms de mode
{% endblock %}

{% block body %}

    <script>
        $(document).ready(function () {
            filterAll();
        });
    </script>

    <section class="container-fluid salonsbg" id="section-start">
        <div class="container">
            <h1>Les prochains showrooms</br>
                <span style="color:#FE5F55;">French Select</span></h1>
            <p class="text-center">Venez découvrir les <strong>marques</strong> dans les <strong>showrooms</strong> que
                nous organisons près de chez vous !

            <div class="row my-4 px-4">
                {% for salon in salons %}
                    <div class="col-lg-4 px-2 py-2 filter-card">
                        <div class="slide-salons my-1 p-2">
                            <a href="{{ path('details_salons', {'ville': salon.getVille(), 'id': salon.getSalonId()} ) }}">
                                <img class="img-fluid shadow-sm" src="{{ asset('bundles/app/img/salons.png') }}">
                                <div class="p-3">
                                    <h6 class="card-title">{{ salon.getName() }}</h6>
                                    <p class="slide-salons-date">
                                        Du {{ salon.getDateDebut()|date("d") }}
                                        au {{ salon.getDateFin()|date("d") }}/{{ salon.getDateFin()|date("m") }}/{{ salon.getDateDebut()|date("Y") }}</p>
                                    <p class="slide-salons-place">{{ salon.getLieu() }} - {{ salon.getVille() }}
                                        <br>{{ salon.getPays().getName() }}</p>
                                </div>
                            </a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}