{% extends "AppBundle::layout.html.twig" %}



{% block title %}
    Showroom French Select - Nos salons de mode
{% endblock %}

{% block body %}
    <div class="container-fluid " id="section-start">
        <h1>Liste des salons</h1>
        <div class="card-columns">
            {% for salon in salons %}
                {% if salon.getDateFin() > date() %}
                    <div class="card card-salons">
                        <a href="{{ path('details_salons', {'ville': salon.getVille(), 'id': salon.getSalonId()} ) }}">
                            <img class="card-img-top" src="{{ asset('bundles/app/img/' ~salon.getPImg() ) }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ salon.getName() }}</h5>
                                <p class="card-text" style="color: #FE5F55">
                                    <strong>Du {{ salon.getDateDebut()|date("d") }}
                                        au {{ salon.getDateFin()|date("d") }}
                                        {{ salon.getDateFin()|date("m") }}
                                        {{ salon.getDateDebut()|date("Y") }}
                                    </strong></p>
                                <p>{{ salon.getLieu() }}</p>
                                <p class="card-text" style="color: #FE5F55"> {{ salon.getVille() }}
                                    - {{ salon.getPays().getName() }}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>





{% endblock %}