{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Salon
{% endblock %}

    {% block body %}
        <div class="container-fluid padding-start" id="section-start">

            <a class="btn" href="{{ app.request.headers.get('referer') }}" role="button">Retour</a>

            <div class="container containter-brand-detail">
                <img class="img-fluid bandeau-marque" src="{{ asset('bundles/app/img/'~salon.getGImg()) }}">
                <div class="centered"><h1 style="color: #FFFFFF">{{ salon.getName() }}</h1></div>
            </div>



            <div class="container">
                {% set month = {01: 'Janvier', 02: 'Février', 03: 'Mars', 04: 'Avril',
                05: 'Mai', 06: 'Juin', 07: 'Juillet', 08: 'Août', 09: 'Septembre',
                10: 'Octobre', 11: 'Janvier', 12: 'Janvier'
                } %}
                <h1>{{ salon.getName() }}</h1>

                <p>{{ salon.getDescription() }}</p>
                <p style="color: #FE5F55">
                    <strong>Du {{ salon.getDateDebut()|date("d") }}
                        au {{ salon.getDateFin()|date("d") }}
                        {{ salon.getDateFin()|date("m") }}
                        {{ salon.getDateDebut()|date("Y") }}
                    </strong></p>
                <p>{{ salon.getLieu() }}</p>
                <p style="color: #FE5F55"> {{ salon.getAdresse() }}, {{ salon.getVille() }}
                    - {{ salon.getPays().getName() }}</p>
            </div>
            <div class="container">

                <h2>Marques participantes</h2>
                {% set cpt=0 %}
                {% set participants = salon.getBrand.toArray() %}
                <div class="card-deck">
                    {% for participant in participants %}

                    {% if cpt !=0 and cpt % 4 == 0 %}
                </div>
                <div class="card-deck">
                    {% endif %}

                    <div class="card card-marques">

                        <div class="card-img ">
                            <img class="card-img" src="{{ asset('bundles/app/img/' ~participant.getPicture() ) }}">
                        </div>
                        <div class="card-img-overlay info p-t-2">
                            <img class="img-fluid" src="{{ asset('bundles/app/img/' ~ participant.getLogo()) }}">
                        </div>
                        <div class="card-img-overlay hover-info">
                            {% set targets = participant.getTarget.toArray() %}
                            {% set styles = participant.getStyle.toArray() %}
                            {% set categories = participant.getPrimaryCategory().toArray() %}

                            <h5 class="card-title"> {{ participant.getName() }} </h5>
                            {{ participant.getSlogan() }}
                            <ul>
                                <li><strong>Pays</strong><br>
                                    {{ participant.getCountry().getName() }}</li>

                                <li><strong>Catégories</strong><br>
                                    {% for categorie in categories %}
                                        {{ categorie.getLabel() }},
                                    {% endfor %}
                                </li>

                                <li>
                                    <strong>Styles</strong><br>
                                    {% for style in styles %}
                                        {{ style.getLabel() }},
                                    {% endfor %}
                                </li>

                                <li>
                                    <strong>Cible</strong><br>
                                    {% for target in targets %}
                                        {{ target.getLabel() }},
                                    {% endfor %}
                                </li>

                                <li>
                                    <strong>Gamme de prix</strong><br>
                                    {{ participant.getPriceRange().getLabel() }}
                                </li>
                            </ul>


                            <a href="{{ path('details_marques', {'marque': participant.getName()} ) }}">
                                Découvrir la marque </a>
                        </div>


                    </div>
                    {% set cpt = cpt + 1 %}
                    {% endfor %}
                </div>
            </div>

            <div class="container">


            </div>


            <div class="map-responsive">
                <iframe
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAK1YsHXrLJDt6DNx4x0fkdgeA6LBo8wMM
    &q=~{{ salon.getAdresse() }},Bordeaux+France" allowfullscreen>
                </iframe>
            </div>
        </div>
    {% endblock %}