{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Showroom French Select - Nos tarifs
{% endblock %}

{% block body %}
    <div class="container-fluid pricebg" id="section-start">
        <div class="container">
            <h1>Une offre claire et transparente</h1>
            <p class="text-center">Exclusivement réservée aux <span style="color:#FE5F55;font-weight:700;">marques</span> !</p>
            <div class="card-deck">
                <div class="card shadow">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-first.svg') }}">
                        <h2 class="card-title">Genèse</h2>
                        <div class="price"><div class="price-num">30 €</div> / mois</div>
                        <div class="sb-price">360 € / an</div>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('contact') }}" class="button-fh p-2">Contactez-nous</a></div>
                </div>
                <div class="card shadow">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-second.svg') }}">
                        <h2 class="card-title">Essentiel</h2>
                        <div class="price"><div class="price-num">100 €</div> / mois</div>
                        <div class="sb-price">1 200 € / an</div>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('contact') }}" class="button-fh p-2">Contactez-nous</a></div>
                </div>
                <div class="card shadow">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-third.svg') }}">
                        <h2 class="card-title">Standard</h2>
                        <div class="price"><div class="price-num">250 €</div> / mois</div>
                        <div class="sb-price">3 000 € / an</div>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('contact') }}" class="button-fh p-2">Contactez-nous</a></div>
                </div>
                <div class="card shadow">
                    <div class="card-body text-center card-price"> <img class="card-img-price" src="{{ asset('bundles/app/img/picto-four.svg') }}">
                        <h2 class="card-title">Premium</h2>
                        <div class="price"><div class="price-num">Sur devis</div></div>
                        <div class="sb-price"></div>
                        <p class="card-text">Notre équipe est à votre disposition pour vous offrir des services personnalisés.</p>
                    </div>
                    <div class="card-footer text-center"><a href="{{ path('contact') }}" class="button-fh p-2">Contactez-nous</a></div>
                </div>
            </div>
            <h1>Détail et options</h1>
            <div class="table-responsive-lg">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col" style="width:40%" class="table-price-title">Visibilité</th>
                        <th scope="col" style="width:20%">Genèse</th>
                        <th scope="col" style="width:20%">Essentiel</th>
                        <th scope="col" style="width:20%">Standard</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row" class="table-price-title">Présence sur le marketplace</th>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Contrôle d'accès au catalogue en ligne</th>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td>Possible</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col" style="width:40%" class="table-price-title">Gestion des collections</th>
                        <th scope="col" style="width:20%">Genèse</th>
                        <th scope="col" style="width:20%">Essentiel</th>
                        <th scope="col" style="width:20%">Standard</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row" class="table-price-title">Création / Modification des collections</th>
                        <td><i class="fas fa-check"></i> par marque</td>
                        <td><i class="fas fa-check"></i> par FS</td>
                        <td><i class="fas fa-check"></i> par FS</td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Ajout / Modification d'un produit</th>
                        <td><i class="fas fa-check"></i> par marque</td>
                        <td><i class="fas fa-check"></i> par FS</td>
                        <td><i class="fas fa-check"></i> par FS</td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Importation / Exportation de produits</th>
                        <td><i class="fas fa-check"></i> par marque</td>
                        <td><i class="fas fa-check"></i> par FS</td>
                        <td><i class="fas fa-check"></i> par FS</td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Validation fiche produit par FS</th>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Nombre de produits</th>
                        <td>50</td>
                        <td>50</td>
                        <td>200</td>
                    </tr><tr>
                        <td scope="row" class="table-price-title">Contrôle disponibilité référence</th>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col" style="width:40%" class="table-price-title">Gestion des clients</th>
                        <th scope="col" style="width:20%">Genèse</th>
                        <th scope="col" style="width:20%">Essentiel</th>
                        <th scope="col" style="width:20%">Standard</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row" class="table-price-title">Consultation des clients</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Création / Modification d'un client</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Gestion demandes clients</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Importation / Exportation de listing clients</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td scope="row" class="table-price-title">Nombre de clients</td>
                        <td>Illimité</td>
                        <td>Illimité</td>
                        <td>Illimité</td>
                    </tr><tr>
                        <td scope="row" class="table-price-title">Impression listing client</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}